// Place all the styles related to the contracts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@mixin form_style{
	width: 300px;
	background-color: white;
	border: solid 1px #8c8b8b;
	border-radius: 5px;
	padding: 10px 15px;
	text-align: center;
	display: inline-block;
	margin-left: 20px;
	float: left;
	margin-top: 30px;
	margin-right: 20px;
	h3{
		margin-top: 10px;
		text-transform: uppercase;
	}
	.btn{
		width: 100%;
		margin-bottom: 10px;
	}
}

@mixin infor_detail{
	margin-top: 10px;
	margin-bottom: 10px;
	.glyphicon{
		margin-right: 10px;
		color: #0083bb;
		font-weight: bold;
	}
}

.contract-content {
	width: 100%;
	text-align: center;
	display: inline-block;
	#transact-notif{
		background-color: #3cbd3c;
		color: white;
		font-weight: bold;
		display: inline-block;
		padding: 10px 20px;
		border-radius: 6px;
		font-size: 1.4em;
		position: absolute;
		top: 300px;
		left: 20px;
		width: 300px;
	}
	.rate-form{
		@include form_style;
		select{
			background-color: white;
			padding: 5px 10px;
			font-size: 1.1em;
			border-radius: 5px;
			margin-bottom: 20px;
			margin-top: 10px;
		}
	}
	.contract-note{
		@include form_style;
		text-align: left;
		h3{
			color: #0083bb;
			font-weight: bold;
		}
		.phone-number{
			@include infor_detail;
		}
		.email{
			@include infor_detail;
		}
	}
	.contract-form{
		background-color: white;
		display: inline-block;
		width: 600px;
		margin-top: 30px;
		border: solid 1px #848080;
		border-radius: 5px;
		padding: 20px 20px;
		margin-bottom: 20px;
		text-align: left;
		float: left;
		.title{
			text-transform: uppercase;
			font-weight: bold;
			font-size: 1.2em;
			margin-top: 10px;
			margin-bottom: 5px;
			display: inline-block;
		}
		.btn{
			width: 100%;
			font-size: 1.2em;
		}
		h1{
			text-transform: uppercase;
			text-align: center;
		}
		textarea{
			border-radius: 5px;
			width: 100%;
			margin: 5px 0;
			height: 65px;
			font-size: 1.2em;
			padding: 5px 10px;
		}
		input{
			padding: 5px 20px;
			outline: 0;
		}
		ul > li{
			list-style: none;
		}
		.base-infor {
			.infor-item{
				display: inline-block;
				width: 100%;
				.sub-title{
					display: inline-block;
					font-weight: bold;
					font-size: 1.1em;
					float: left;
					margin-left: 30px;
				}
				.infor-detail{
					float: right;
					margin-right: 30px;
				}
			}
		}
		.date{
			#date-input{
				float: right;
				margin-right: 30px;
			}
		}
		.price{
			margin-bottom: 10px;
			#price-input{
				float: right;
				margin-right: 30px;
				input{
					width: 175px;
				}
				.input-group-addon{
					width: 30px;
				}
			}
		}
		.content {
			.agreement-content-detail{
				font-size: 1.3em;
				margin-top: 10px;
				margin-left: 30px;
			}
		}
	}
}

.contract-comments-section{
	background-color: white;
	border-radius: 6px;
	border: solid 1px #696969;
	display: inline-block;
	width: 300px;
	margin-top: 30px;
	.title{
		margin-top: 0px;
		color: white;
		width: 100%;
		background-color: #337ab7;
		font-weight: bold;
		padding: 10px 10px;
		font-size: 1.5em;
		display: inline-block;
		position: relative;
		button{
			background-color: transparent;
			float: left;
			border: none;
			outline: 0;
			display: inline-block;
		}
		h3{
			display: inline-block;
			margin-bottom: 0;
			margin-top: 0;
			float: left;
			margin-left: 60px;
		}
		.glyphicon{
			display: inline-block;
			font-size: 0.8em;
			float: left;
			margin-top: 3px;
		}
		#notif-count{
			z-index: 10; 
			position: absolute; 
			left: 28px; 
			background-color: #ff4a4a; 
			display: inline-block; 
			font-size: 0.5em; 
			padding: 0 3px;
		}
		.popover{
			padding: 0 0;
			.popover-title{
				width: 100%;
				margin-left: 0;
				background-color: #337ab7;
			}
			.popover-content{
				color: black;
				display: inline-block;
			}
		}
	}
	.contract-comments-list{
		padding: 10px 10px;
		ul{
			padding-left: 0;
			margin-bottom: 0;
			text-align: left;
			.contract-comments-list-content{
				overflow-y: scroll;
				max-height: 195px;
				li{
					list-style: none;
					padding: 20px 10px;
					border-bottom: solid 1px #eeeeee;
					display: inline-block;
					width: 100%;
					.contract-comment-content{
						float: right;
						max-width: 150px;
						margin-right: 10px;
						word-wrap: break-word;
						display: block;
						font-weight: bold;
					}
				}
			}
		}
		.message-form {
			textarea{
				width: 100%;
				margin-bottom: 15px;
			}
			.btn{
				float: left;
				width: 100%;
				margin-left: 0;
			}
		}
	}
}

.confirm-section{
	background-color: white;
	border-radius: 6px;
	border: solid 1px #696969;
	width: 300px;
	margin-top: 30px;
	display: inline-block;
	text-align: center;
	h3{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.btn{
		margin-bottom: 10px;
		margin-left: 8px;
		margin-right: 8px;
		display: inline-block;
		padding: 0 0;
		a{
			color: white;
			font-weight: bold;
			text-decoration: none;
			display: inline-block;
			padding: 8px 12px;
		}
	}
}