// Place all the styles related to the contracts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contract-content {
	width: 100%;
	text-align: center;
	display: inline-block;
}

.contract-content .contract-form{
	background-color: white;
	display: inline-block;
	width: 600px;
	margin-top: 30px;
	border: solid 1px #848080;
	border-radius: 5px;
	padding: 20px 20px;
	margin-bottom: 20px;
	text-align: left;
	float: left;
}

.contract-content .contract-form .title{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.2em;
	margin-top: 10px;
	margin-bottom: 5px;
	display: inline-block;
}

.contract-content .contract-form .btn{
	width: 100%;
	font-size: 1.2em;
}

.contract-content .contract-form select{
	background-color: white;
	padding: 5px 5px;
}

.contract-content .contract-form h1{
	text-transform: uppercase;
	text-align: center;
}

.contract-content .contract-form textarea{
	border-radius: 5px;
}

.contract-content .contract-form input{
	padding: 5px 20px;
}

.contract-content .contract-form ul > li{
	list-style: none;
}

.contract-content .contract-form .base-infor .infor-item{
	display: inline-block;
	width: 100%;
}

.contract-form .base-infor .infor-item .sub-title{
	display: inline-block;
	font-weight: bold;
	font-size: 1.1em;
	float: left;
	margin-left: 30px;
}

.contract-form .base-infor .infor-item .infor-detail{
	float: right;
	margin-right: 30px;
}

.contract-form .date #date-input{
	float: right;
	margin-right: 30px;
}

.contract-form .price{
	margin-bottom: 10px;
}

.contract-form .price{
	#price-input{
		float: right;
		margin-right: 30px;
		input{
			width: 175px;
		}
		.input-group-addon{
			width: 30px;
		}
	}
}

.contract-form .content .agreement-content-detail{
	font-size: 1.3em;
	margin-top: 10px;
	margin-left: 30px;
}

.messages-section{
	background-color: white;
	border-radius: 6px;
	border: solid 1px #696969;
	display: inline-block;
	width: 300px;
	margin-top: 30px;
	.title{
		margin-top: 0px;
		margin-bottom: 10px;
		color: white;
		width: 100%;
		background-color: #337ab7;
		font-weight: bold;
		padding: 10px 10px;
		font-size: 1.5em;
		display: inline-block;
		position: relative;
		button{
			background-color: transparent;
			float: left;
			border: none;
			outline: 0;
			display: inline-block;
		}
		h3{
			display: inline-block;
			margin-bottom: 0;
			margin-top: 0;
			float: left;
			margin-left: 60px;
		}
		.glyphicon{
			display: inline-block;
			font-size: 0.8em;
			float: left;
			margin-top: 3px;
		}
		#notif-count{
			z-index: 10; 
			position: absolute; 
			left: 28px; 
			background-color: #ff4a4a; 
			display: inline-block; 
			font-size: 0.5em; 
			padding: 0 3px;
		}
		.popover{
			padding: 0 0;
			.popover-title{
				width: 100%;
				margin-left: 0;
				background-color: #337ab7;
			}
			.popover-content{
				color: black;
				display: inline-block;
			}
		}
	}
	.messages-list{
		padding: 10px 10px;
		ul{
			padding-left: 0;
			margin-bottom: 0;
			text-align: left;
			.messages-list-content{
				overflow-y: scroll;
				height: 195px;
				li{
					list-style: none;
					padding-left: 10px;
					.message-content{
						float: right;
						margin-right: 20px;
						font-weight: bold;
					}
				}
			}
		}
		.message-form {
			textarea{
				width: 100%;
			}
			.btn{
				float: left;
				width: 100%;
				margin-left: 0;
			}
		}
	}
}

.confirm-section{
	background-color: white;
	border-radius: 6px;
	border: solid 1px #696969;
	width: 300px;
	margin-top: 30px;
	display: inline-block;
	h3{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.btn-success{
		float: left;
		width: 45%;
	}
	.btn-danger{
		float: right;
		width: 45%;
	}
	.confirm-section-btn{
		padding: 5px 15px 10px 15px;
		display: inline-block;
		width: 100%;
	}
}