@import "bootstrap-sprockets";
@import "bootstrap";

::-webkit-scrollbar{
	background-color: rgba(0, 0, 0, 0.2);
	width: 5px;
	border-radius: 6px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 6px;
}

/* sidebar */

@mixin style_name_email{
	font-size: 1.2em;
	display: inline-block;
	float: left;
	.title{
		font-size: 1.2em;
		font-weight: bold;
		margin-right: 10px;
		display: inline-block;
	}
	width: 100%;
}

aside {
	display: inline-block;
	section.user-info {
		margin-top: 20px;
		margin-left: 20px;
		display: inline-block;
		width: 500px;
		.user-img{
			display: inline-block;
			float: left;
			img{
				border-radius: 50%;
			}
			width: 20%;
		}
		.user-info-detail{
			width: 80%;
			float: left;
			display: inline-block;
			.user-name{
				@include style_name_email;
			}
			.user-email{
				@include style_name_email;
			}
			.rank-and-vote{
				font-size: 1.5em;
				float: left;
				display: inline-block;
				width: 100%;
			}
		}
	}
}

.gravatar {
	float: left;
	margin-right: 10px;
}

/* error messages */

#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 0 0;
	}
}

.field_with_errors {
	@extend .has-error;
	.form-control:focus {   
		border-color: #F60300;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(239, 185, 104, 0.6) 1px;
		outline: 0 none;
	}

	.form-control {
		color: #f60500;
		border-color: #f60500;
	}
}

aside {
	textarea {
		height: 100px;
		margin-bottom: 5px;
	}
}

span.picture {
	margin-top: 10px;
	input {
		border: 0;
	}
}

ol li{
	list-style: none;
}