// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.message-form{
	display: inline-block;
	margin-top: 15px;
	width: 100%;
	textarea{
		width: 70%;
		float: left;
		margin-top: 0;
		height: 65px;
		font-size: 1.2em;
		padding: 8px 10px;
	}
	.btn{
		width: 25%;
		margin-left: 10px;
		margin-right: 10px;
		float: right;
	}
	p.error-mess{
		display: inline-block;
		margin-top: 10px;
		margin-bottom: 5px;
		color: red;
	}
}

.mess-list-section{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 15px;
	.toggle-link{
		font-size: 1.2em;
		cursor: pointer;
		.glyphicon{
			margin-left: 10px;
		}
	}
}

.list-messages{
	margin-top: 15px;
	display: inline-block;
	width: 100%;
	padding: 10px 20px;
	background-color: white;
	border: solid 1px black;
	border-radius: 5px;
	display: none;
	max-height: 590px;
	overflow-y :scroll;
	.list{
		display: inline-block;
		width: 100%;
		.link-to-user{
			font-size: 1.4em;
		}
		h3{
			margin-top: 5px;
			margin-bottom: 10px;
		}
		hr{
			margin-top: 10px;
			margin-bottom: 10px;
			border-color: #989898;
		}
		.delete-mess-link{
			float: right;
		}
		.rank-and-vote{
			margin-top: 5px;
			margin-bottom: 5px;
			.title{
				font-weight: bold;
				font-size: 1.1em;
				width: 200px;
				display: inline-block;
			}
		}
		ul{
			padding-left: 0;
			margin-bottom: 10px;
			.messages-list{
				margin-top: 15px;
				border: solid 1px #7d7777;
				border-radius: 8px;
				padding: 10px 10px 10px 15px;
				overflow-y: scroll;
				height: 250px;
				li{
					list-style: none;
					padding: 10px 10px 20px 10px;
					border-bottom: solid 1px #eeeeee;
					display: inline-block;
					width: 100%;
					.message-content{
						max-width: 350px;
						margin-right: 10px;
						word-wrap: break-word;
						display: inline-block;
						font-weight: bold;
					}
				}
			}
		}
		.message-form{
			p.error-mess{
				float: left;
			}
		}
	}
}