section.request-form-section{
	display: inline-block;
}

.request-form{
	margin-top: 20px;
	background-color: white;
	display: inline-block;
	width: 420px;
	padding-top: 0;
	margin-left: 20px;
	padding: 20px 20px;
	text-align: center;
	border: solid 1px #8a8a8a;
	border-radius: 6px;
	#request_origin_id, #request_product_type_id{
		width: 170px;
		background-color: white;
		padding: 5px 15px;
		float: right;
	}
	.input-group{
		width: 170px;
		float: right;
	}
	.form-control{
		width: 130px;
	}
	.form-item{
		margin-top: 5px;
		display: inline-block;
		width: 100%;
		margin-bottom: 20px;
		.title{
			font-size: 1.2em;
			font-weight: bold;
			display: inline-block;
			float: left;
		}
	}
	textarea{
		width: 100%;
		font-size: 1.2em;
		padding: 10px 10px;
	}
	.btn{
		width: 100%;
		margin: 10px auto;
	}
}