.show-all-users {
	padding-top: 45px;
	.title{
		text-align: center;
		font-size: 4.2em;
		text-transform: uppercase;
		display: inline-block;
		margin-left: 215px;
	}
	.input-group{
		width: 300px;
		float: right;
		margin-top: 25px;
		margin-right: 70px;
		input{
			padding: 10px 10px;
			font-size: 1.1em;
		}
		#input-text{
			border: solid 1px #555;
			outline: 0;
			float: left;
		}
		#input-submit{
			float: left;
			border-radius: 0;
			background-color: #0083bb;
		}
	}
	.content{
		padding: 30px 50px 20px 170px;
		.pagination{
			margin-left: 20px;
			margin-top: 25px;
		}
		.users {
			list-style: none;
			margin: 0;
			li {
				padding: 30px 20px 50px 0;
				overflow: auto;
				border-bottom: 1px solid #c5c5c5;
			}
			.glyphicon{
				margin-right: 10px;
			}
			.name{
				font-weight: bold;
				margin-left: 25px;
				display: inline-block;
			}
			.email{
				margin-left: 25px;
				margin-top: 20px;
				display: inline-block;
			}
			.phone{
				margin-left: 25px;
				margin-top: 20px;
				display: inline-block;
			}
			.btn-custom{
				float: right;
				background-color: #0083bb;
				color: white;
				text-decoration: none;
				padding: 10px 20px;
				font-size: 1.1em;
				border-radius: 10px;
				cursor: pointer;
				margin-right: 10px;
				margin-top: -30px;
				&:hover{
					background-color: #006d9c;
					transition: background-color .3s ease;
				}
			}
		}
	}
}