// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h3#request-count{
	background-color: #337ab7;
	border: solid 1px #2e6da4;
	color : white;
	display: inline-block;
	padding: 8px 12px;
	border-radius: 6px;
	font-size: 1.7em;
}

.badge{
	background-color: white;
	color: #337ab7;
	font-size: 0.6em;
	padding: 5px 8px;
}