<footer>
	<div class="copyright">Copyright 2016 &copy; by HUST-Student. All rights served</div>
	<div class="contact-information">
		<div class="infor-detail">
			<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>Ha Noi
		</div>
		<div class="infor-detail">
			<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>+84432354324
		</div>
		<div class="infor-detail">
			<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>nhom495itss@gmail.com
		</div>
	</div>
</footer>