<footer>
	<div class="copyright">Copyright 2016 &copy; by HUST-Student. All rights served</div>
	<div class="contact-information">
		<div class="location">
			<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>Ha Noi
		</div>
		<div class="phone">
			<span class="glyphicon glyphicon-phone" aria-hidden="true"></span>+84432354324
		</div>
	</div>
</footer>