<!DOCTYPE html>
<html>
	<head>
		<title>ShipperAroundTheWorld</title>
		<link rel="icon" type="image/png" href="/assets/icon.png">
		<%= render "layouts/rails_default" %>
		<%= render "layouts/shim" %>
	</head>

	<body>
		<%= render "layouts/header" %>
		<%= yield %>
	</body>
</html>