<% if @user.errors.any? %>

      <h1>The form contains <%= pluralize(@user.errors.count, "error") %>.</h1><br/>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>

<% end %>