<h1>Contract has been created</h1>

<p>To view contract click the link below:</p>

<%= link_to "View contract", contract_url(@customer, contract_id: @contract.id, 
													 customer_id: @shipper.id) %>

<p>If you have any problem please contact to us at : nhom495itss@gmail.com</p>