<div class="present">
	<div class="present-text">
		<h3>SHIPPERS,<p></p> MEET CARRIERS.</h3>
		<h3>CARRIERS,<p></p> MEET SHIPPERS.</h3>
		<div class="present-content">We make shipping big stuff cheap and easy by helping customers directly connect with providers who have extra truck space.</div>
		<a href="/signup" class="join-btn">Join With Us!</a>
	</div>
</div>
<div class="statistic-path">
	<div class="statistic-content">
		<div class="statistic-item">
			<div class="statistic-item-data">3.5M</div>
			<div class="statistic-item-name">shipping customers</div>
		</div>
		<div class="statistic-item" style="margin: 0 185px;">
			<div class="statistic-item-data">788,000</div>
			<div class="statistic-item-name">service providers</div>
		</div>
		<div class="statistic-item">
			<div class="statistic-item-data">5.7M</div>
			<div class="statistic-item-name">shipment listings</div>
		</div>
	</div>
</div>
<div class="about-us" id="about-path">
	<div class="wrapper" id="wrapper1">
		<div class="image-wrapper">
			<%= image_tag("banner-about-us-1.jpg", alt: "About Us", title: "About Us") %>
		</div>
		<div class="section-content">
			<div class="content-wrapper">
				<div class="content-title">
					<h5>Shipping with SAW</h5>
					<h4>Pick your provider and price</h4>
					<hr>
				</div>
				<div class="content-main">
					Intermediate system, the connection between those who wish to transfer goods, and people have the ability to purchase and transfer of Vietnam. Created with passion and enthusiasm. We hope alway delivers the best experience for customers
				</div>
			</div>
		</div>
	</div>
	<div class="wrapper" id="wrapper2">
		<div class="section-content">
			<div class="content-wrapper">
				<div class="content-title">
					<h5>Hauling with SAW</h5>
					<h4>Be the master of your domain</h4>
					<hr>
				</div>
				<div class="content-main">
					With new shipments posted every 30 seconds, there’s always money to be made on SAW. Find lucrative jobs through the latest tools, no matter what you haul.
				</div>
			</div>
		</div>
		<div class="image-wrapper">
			<%= image_tag("banner-about-us-2.jpg", alt: "About Us", title: "About Us") %>
		</div>
	</div>
	<div class="wrapper" id="wrapper3">
		<div class="image-wrapper">
			<%= image_tag("banner-about-us-3.jpg", alt: "About Us", title: "About Us") %>
		</div>
		<div class="section-content">
			<div class="content-wrapper">
				<div class="content-title">
					<h5>SAW for business</h5>
					<h4>Bussiness shipping for less</h4>
					<hr>
				</div>
				<div class="content-main">
					From booking to communications to payment, SAW helps you transport freight faster, cheaper, safer, and easier so you can stay focused on your business.
				</div>
			</div>
		</div>
	</div>
</div>
<div class="typical-features-path">
	<div class="typical-features-content">
		<div class="typical-features-item">
			<span class="glyphicon glyphicon-send" aria-hidden="true"></span>
			<div class="typical-features-item-name">smart shipping</div>
		</div>
		<div class="typical-features-item" style="margin: 0 0 0 120px;">
			<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
			<div class="typical-features-item-name">easy tracking</div>
		</div>
		<div class="typical-features-item" style="margin: 0 120px;">
			<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
			<div class="typical-features-item-name">secure payment</div>
		</div>
		<div class="typical-features-item">
			<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
			<div class="typical-features-item-name">saw guarantee</div>
		</div>
	</div>
</div>
<%= render "layouts/footer" %>